a {
    text-decoration: none;
    color: #333;
}

/* 방명록 리스트 */
ul {
    padding: 10px;
}

.item {
    padding: 25px 0 19px 10px;

    background-color: #fafafa;

    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    border-bottom: 1px solid #eee;
}

.thumbnail {
    width: 60px;
    height: 60px;
    margin-right: 10px;

    background-color: #fff;

    background-image: url('../../images/thumbnail.png');
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50px;
}

.box-content {
    margin-top: -5px;
    width: 600px;
}

.box-meta {
    margin-bottom: 4px;
    font-size: 13px;
    box-sizing: inherit;
}

.box-meta strong {
    display: block;
    font-weight: bold;
}

.date {
    padding-left: 0;
    font-size: 12px;

    color: #909090;
}

.text {
    margin-top: 10px;
    line-height: 1.43;
    color: #777;
    word-break: break-all;
}

.link-comment {
    font-size: 13px;
    line-height: 1.69;
    color: #909090;
    text-decoration: none;
    visibility: hidden;
}

.list-modify {
    position: absolute;
    top: 5px;
    right: -9px;
    font-size: 13px;
    width: 80px;
    list-style: none;
    margin: 0;
}

.list-modify li {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
}

.list-modify li a {
    color: #777;
}

/* 방명록 등록 */
.write_box {
    border: 2px solid #eee;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 12px 12px;
    background-color: #fafafa;
    vertical-align: baseline;
}

.submit_btn {
    width: 140px;
    height: 31px;
    line-height: 30px;
    border: 1px solid #eee;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    background: #eee;
    cursor: pointer;
    margin-top: 10px;
}

.user_comment_box {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.user_comment_box textarea {
    width: 550px;
    height: 80px;
    padding: 13px;
    border: 1px solid #cecdce;
    font-size: 13px;
    color: #333;
    line-height: 18px;
    resize: none;
}
.user_input_box {
    float: right;
}

.user_input {
    width: 140px;
    height: 30px;
    border: 1px solid #cecdce;
    background-color: #fff;
}

.user_input input {
    width: 126px;
    height: 28px;
    line-height: 29px;
    padding: 2px 7px 0;
    border: none;
    font-family: '굴림', Gulim;
    font-size: 12px;
    vertical-align: top;
}