body {
    background-image: url('../images/bg1.png');
    background-repeat: no-repeat;
    background-position: center 80px;
    background-size: 800px 490px;
}

h3#name {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
}

/* codepen button */
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 5px 10px;
    /* margin: 0px 10px 10px 0px; */
    /* float: left; */
	border-radius: 10px;
	/* font-family: 'Pacifico', cursive; */
	font-size: 15px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#canvasContainer {
    margin: 0 auto;
    /* background-color: green; */
    background-image: url('../images/icon_idle.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 280px 280px;
    opacity: 0.9;
    position: relative;
    width: 800px;
    height: 500px;
}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    left: 375px;
    top: 5px;
    z-index: 999;
}

#boardTable {
    width: 800px;
    margin: 0 auto;
    position: relative;
}

#boardTable caption {
    margin-top: 0;
    margin-bottom: 15px;
}

#boardTable button {
    /* border-radius: 25px; */
    /* border-color: white; */
    /* opacity: 0.8; */
    font-weight: bold;
    /* color: white; */
    cursor: pointer;
}

.spinBtn {
    width: 125px;
    height: 50px;
    font-size: 25px;
}

#boardTable th {
    padding: 5px 0;
    font-size: 18px;
}

#boardTable td {
    text-align: center;
}

#boardTable input {
    width: 95%;
    border: none;
    text-align: center;
    font-size: 18px;
}

.popupBox {
	position: absolute;
	top: 0;
	right: 0;
}

.popupBtn {
	width: 100px;
	height: 45px;
}