#canvasContainer {
    /* background-color: green; */
    background-image: url('../images/icon_3.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 280px 280px;
    position: relative;
    width: 800px;
    height: 600px;
}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    left: 375px;
    top: 50px;
    z-index: 999;
}